@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form action="">
   <label for="lname">ApiUrl</label>
   <input type="text" id = "url" name="lname"><br><br>
   <input type="submit" id="getApi" value="Submit">
    </form>
    <div>
        <p id="destination"></p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("#getApi").click(function(e) {
        e.preventDefault();
        $.ajax({
                type: "POST",
                url: "/home/GetStudentRemote",
                contentType: "application/json",
                processData: false,
                success: function (entity) {
                    $("#destination").val = entity;
                },
                error: function () {
                    
                }
            });
    });
    
</script>
